body{
  margin: 0%;
}

.results_css {
  
  font-family: Allan, helvetica, arial, sans-serif;
  font-size: 16px;
  overflow: hidden;
  padding: 30px 10px 0px 20px;
  color: #282828;
  font-weight: bold;
  border-bottom: solid darkgray thin;
}

.results_css:hover{
  
  background: rgba(0,0,0,.2);
  color: #fe8300;
  background: -moz-linear-gradient(top,  #808080, #282828 ); 
  background: -webkit-gradient(linear, left top, left bottom, from(#808080), to(#282828));
}

#results_container1{
  margin: 15px;
  font-family: Allan, helvetica, arial, sans-serif;
  
  font-size: 12px;
}

#results_container1 label{
  
  color: #282828;
  font-weight: bolder;
  font-size: 14px;
}


